@model Product

<div class="card shadow border-0 my-4 ">
    <div class="card-header bg-info bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Book</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <input asp-for="Id" hidden />
            <div class="border p-3 m-4">
                <div class="mb-3 row p-1">
                    <label asp-for="Title" class="p-0">Book Title</label>
                    <input disabled asp-for="Title" class="form-control" />
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Description" class="p-0">Description</label>
                    <input disabled asp-for="Description" class="form-control" />
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="ISBN" class="p-0">ISBN</label>
                    <input disabled asp-for="ISBN" class="form-control" />
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Author" class="p-0">Author</label>
                    <input disabled asp-for="Author" class="form-control" />
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="ListPrice" class="p-0">List Price</label>
                    <input disabled asp-for="ListPrice" class="form-control" />
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Price" class="p-0">Price for 1 to 2 books</label>
                    <input disabled asp-for="Price" class="form-control" />
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Price3" class="p-0">Price for 3+ books</label>
                    <input disabled asp-for="Price3" class="form-control" />
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Price10" class="p-0">Price for 10+ books</label>
                    <input disabled asp-for="Price10" class="form-control" />
                </div>

                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-secondary form-control">Delete</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>